body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: white;
    color: white;
    padding: 10px 0;
    overflow: hidden;
}

.logo {
    float: left;
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0a0075;
    min-width: 200px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.submenu {
    padding: 10px;
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.submenu h3 {
    margin: 0 0 10px;
    color: #fff;
}

.submenu a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
}

.submenu a:hover {
    text-decoration: underline;
}

.content {
    padding: 50px 0;
    text-align: center;
}

footer {
    background-color: #180054;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
